{% assign base_favicon_url = "/assets/img/favicon" %}
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_favicon_url }}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_favicon_url }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_favicon_url }}/favicon-16x16.png">
<link rel="manifest" href="{{ base_favicon_url }}/manifest.json">
<link rel="mask-icon" href="{{ base_favicon_url }}/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="{{base_favicon_url}}/favicon.ico">

<meta name="theme-color" content="#ffffff">

